#root {
	display: flex;
	flex-direction: row;
}

.App {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	min-height: 100vh;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	padding: 40px 40px 0;
}

.form-wrap,
.document-wrap {
	display: flex;
	flex-direction: column;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 40px;
	width: 670px;
}

.form,
.document {
	min-height: 440px;
	padding: 25px 20px;
	border-radius: $border-radius;
	background-color: #fff;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.form-title,
.document-title {
	margin-bottom: 20px;
	text-align: center;
	font-size: 22px;
	font-weight: 700;
}

.input,
.textarea {
	display: block;
	padding-left: 20px;
	padding-right: 30px;
	border: 1px solid $border-color;
}

.message {
	position: absolute;
	left: 0;
	top: 100%;
	margin-top: 5px;
	font-size: 14px;
	line-height: 1.2;
}

.error {
	background: url(images/error.svg) calc(100% - 7px) 15px no-repeat;

	&-message {
		color: #ff0000;
	}
}

.valid {
	background: url(images/check.svg) calc(100% - 7px) 15px no-repeat;
}

.input {
	height: 40px;
}

.textarea {
	min-height: 150px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.form {

	&__item {
		width: 100%;

		&-wrap {
			position: relative;
			margin-bottom: 40px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&-btn-wrap {
			text-align: center;
		}
	}
}

.btn {
	appearance: none;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	border: none;
	border-radius: $border-radius;
	padding: 0 33px;
	height: 40px;
	font-weight: 700;
	font-size: 16px;
	line-height: 40px;
	white-space: nowrap;
	text-align: center;
	text-decoration: none;
	color: $color-white;
	background-color: $color-primary;
	transition: all $trs-duration;
	cursor: pointer;
	user-select: none;

	&:hover {
		text-decoration: none;
		color: $color-white;
		background-color: darken($color-primary, 5%);
	}

	&:focus {
		color: $color-white;
		background-color: darken($color-primary, 5%);
	}

	&--disabled,
	&[disabled] {
		cursor: default;
		pointer-events: none;
		background: #ccc;
	}
}

.document {
	flex: 1;

	&__header {
		display: flex;
		justify-content: flex-end;
		margin-bottom: 40px;

		&-main {
			font-size: 12px;
		}
	}

	&__body {

		&-item {
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 5px;

			&-output {
				overflow-wrap: break-word;
				word-wrap: break-word;
				word-break: break-all;
				hyphens: auto;
			}

			&-underline {
				flex: 1;
				margin-left: 10px;
				background: url(images/square.svg) left calc(100% - 2px) repeat-x;
			}
		}

		&-title {
			margin: 20px 0;
			font-size: 20px;
			font-weight: 700;
			text-align: center;
		}
	}
}

@media (max-width: 991.98px) {
	body {
		font-size: 14px;
	}

	.container {
		padding-left: 15px;
		padding-right: 15px;
	}

	.form,
	.document {
		padding: 20px 10px;

		&-wrap {
			margin-left: 0;
			margin-right: 0;
		}
	}

	.input,
	.textarea {
		padding-left: 10px;
	}

	.message {
		font-size: 11px;
	}
}