* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
	&::before,
	&::after {
		box-sizing: border-box;
	}
}

html {
	height: 100%;
	-webkit-font-smoothing: antialiased; // сглаживание шрифта
	-moz-osx-font-smoothing: grayscale; // сглаживание шрифта firefox
	font-size: 10px; // для удобного перевода в rem
	text-rendering: optimizeLegibility; // качественное отображение в ущерб скорости
	-webkit-text-size-adjust: 100%; // запретить корректировку размера шрифта
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); // убирает синее подсвечивание при клике на девайсах
}

body {
	overflow-x: hidden;
	height: 100%;
	min-width: 320px;
	font-family: $font-family, "Arial", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	color: $font-color;
	background-color: #fff;
}

// плавное исчезновение placeholder
input[placeholder],
textarea[placeholder] {
	&::placeholder {
		opacity: 1;
		transition: opacity $trs-duration;
	}

	&:focus {
		&::placeholder {
			opacity: 0;
		}
	}
}

// убираем желтый фон у полей при автозаполнении
input {
	&:-webkit-autofill {
		transition-delay: 9999s;
	}
}

:focus,
:active,
:hover {
	outline: none;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

q {
	quotes: "\201C" "\201D" "\2018" "\2019";
}

pre {
	font-family: monospace, monospace;
	white-space: pre-wrap;
	tab-size: 4;
	font-size: 1em;
}

img {
	vertical-align: middle;
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	border-style: none;
}

a {
	text-decoration: none;
	color: $link-color;
	transition: color $trs-duration;
  background-color: transparent;

	&:hover {
		color: $link-hover-color;
	}
}

textarea {
	resize: none;
	overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  cursor: pointer;
}

:disabled {
	cursor: default;
}

::selection {
	color: #fff;
	background: $color-primary;
}

table {
	border-collapse: collapse;
}

hr {
	overflow: visible;
	height: 0;
	margin: 30px 0;
	border: none;
	border-bottom: 1px solid $border-color;
}

// Remove default style
ol,
ul {
	list-style: none;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/**
 * Remove the inner border in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 */

legend {
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/**
 * Add the correct display in IE 10+.
 */

[hidden],
template {
  display: none;
}