// colors
$color-black: #000 !default;
$color-white: #fff !default;
$color-mine-shaft: #333 !default;

$color-primary: #00A9C8 !default;
$font-color: $color-mine-shaft !default;
$link-color: $color-primary !default;
$link-hover-color: darken($color-primary, 20%) !default;
$border-color: $color-primary !default;

// fonts
$font-family: "Open Sans" !default;

// common
$border-radius: 5px !default;

// transition
$trs-duration: 300ms !default;